.hbw-card-header {
  padding: 5px 0;
  > h4 {
    color: color(text);
    font-weight: 400;
    .fa,
    .icon {
      margin-right: 1rem;
      color: color(brand);
      fill: color(brand);
      stroke: color(brand);
    }
  }
  .hbw-btn-link {
    font-size: 1.4rem;
  }
  .icon-arrow-down-round {
    height: 20px;
    width: 24px;
    margin: -3px 0 0 0;
  }
}

@include rtl {
  .hbw-card-header {
    > h4 {
      .fa,
      .icon {
        margin-right: 0;
        margin-left: 1rem;
      }
    }
  }
}
