.teacher-details-sidebar {
  &-header {
    @include flex(1 1 40%);
    background-color: grey;
    @include align-items(flex-start);
    padding-top: 5%;
    &-top {
      @include flex(0.3 0 auto);
      @include align-self(stretch);
    }
    &-add {
      @include flex(0.3 0.3 auto);
    }
    &-close {
      @include flex(1 1 auto);
    }
    &-user {
      @include flex(1 1 auto);
      &-rating {
        padding: 3%;
      }
      h1,
      h5,
      h3 {
        color: white;
      }
    }
    .hbw-avatar-wrapper {
      min-width: auto;
      min-height: auto;
      margin: auto -5px;
    }
  }
  &-navbar {
    @include flex(1 1 10%);
    margin-top: -10%;
  }
  &-recent {
    @include flex(1 1 auto);
    @include flex-wrap(nowrap);
    padding: 10%;
    background-color: #fff;
    &-item {
      @include flex(1 1 auto);
    }
    h5 {
      padding: 2px 2px 2px 10px;
      margin: 0;
    }
  }
}
