.toast-container {
  position: fixed;
  bottom: 24px;
  left: 24px;
  width: 280px;
  z-index: 9999;
  &.top {
    bottom: auto;
    top: 74px;
  }
  &.right {
    left: auto;
    right: 24px;
  }
}

body[dir="rtl"] {
  .toast-container {
    right: 24px;
    left: auto;
    &.right {
      right: auto;
      left: 24px;
    }
  }
}

.toast {
  align-items: flex-start;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  padding: 16px;
  &.success {
    background-color: #4caf50;
  }
  &.error {
    background-color: #f44336;
  }
  &.info {
    background-color: #03a9f4;
  }
  &.warning {
    background-color: #ff9800;
  }
  &__content {
    flex: 1 1 auto;
    margin: 0 12px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
  }

  &__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font: inherit;
    padding: 0;
    &:hover,
    &:focus {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      border: 0;
    }
  }

  &:not(:last-child) {
    margin: 0 0 12px;
  }
}
