/* Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h4,
h6,
.h6 {
  color: $heading-color;
  font-weight: 600;
  line-height: $line-height * 1.2;
}
h1,
.h1 {
  font-size: 2.8rem;
}
h2,
.h2 {
  font-size: 2.4rem;
}
h3,
.h3 {
  font-size: 2rem;
}
h4,
.h4 {
  font-size: 1.8rem;
}
h5,
.h5 {
  font-size: 1.4rem;
}
h6,
.h6 {
  font-size: 1.2rem;
}

small,
.small {
  font-size: 75%;
  line-height: 1;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: 0.2rem;
}

.text-color-light {
  color: color(text, light);
}
.text-color-dark {
  color: color(text, dark);
}
.text-small {
  font-size: 1.1rem;
  line-height: 1.8;
}
.text-big {
  font-size: 1.6rem;
  line-height: 2.2;
}

.text-color-white {
  color: #fff;
}
.text-color-red {
  color: color(red);
}
.text-color-green {
  color: color(green, dark);
}
.text-color-primary {
  color: color(brand);
}

h3,
h4,
h5,
h6 {
  margin: 0.5rem 0;
}
p {
  margin: 5px 0;
}
